.wrapper {
  margin: 50px;
}

.background {
  background-image: url("https://cdn.coffeebeats.cn/nihao/%E5%8D%97%E6%B2%99%E7%B3%BB%E7%BB%9F%E8%83%8C%E6%99%AF%E5%9B%BE.png");
  background-repeat: no-repeat;
  min-height: 100vh;
  opacity: 0.15;
  position: fixed;
  top: 90px;
  bottom: 0;
  left: 0;
  right: 0;
}

.inputWrapper {
  /* display: flex;
  justify-content: center;
  width: 100%; */
  margin: auto 10%;
  margin-top: 30px;
  position: relative;
  margin-bottom: 50px;
  padding-top: 30px;
}

.question {
  margin-bottom: 10px;
  text-align: left;
  font-size: 16px;

  /* margin-left: 16%; */
}



.ant-form-item .ant-form-item-control-input-content {
  flex: none;
}

.whole-line .ant-form-item .ant-form-item-control-input-content {
  flex: 1;
}

.ant-form {
  font-size: 20px;
}

.ant-form label {
  font-size: 16px;
}

.volumnFour {
  display: flex;
}

.flex-box {
  display: flex;
}

.ant-row {
  margin-right: 30px;
}


.ant-image .ant-image-mask {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s;
    left: 20px;
    right: -20px;
}

.form-mention {
  margin-bottom: 20px;
  color: #000;
  font-weight: bold;
  text-align: left;
}

.ant-form-item .ant-form-item-explain-error {
  text-align: left;
  margin-bottom: 12px;
}