page {
  background: #282c34;
}

.padding {
  padding: 28px;
}

.anna-tabs-card-title {
  /* width: 300px; */
  padding: 0 20px;
  flex: 0 !important;
}

.anna-tabs-card {
  width: 300px;
}

.buttonsWrapper {
  display: flex;
}

.indexBottombuttonsWrapper {
  display: flex
}

.indexButton {
  flex: 1;
  margin: 30px 40px;
  margin-top: 30px;
  margin-bottom: 15px;
  border-radius: 8px;
  background: #fff;
  padding: 10px 20px 20px;
  line-height: 48px;
}



.bottomButton {
  flex: 1;
  margin: 30px 40px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  text-align: center;

}

.buttonImage {
  width: 50px;
  height: 50px;
  margin-right: 35px;
  position: relative;
  top: 10px;

}




.buttonImageV2 {
  width: 50px;
  height: 34px;
  position: relative;
  top: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  background: #fff;
  padding: 20px 25px;
}

.buttonImageV2_1 {
  width: 50px;
  height: 50px;
  position: relative;
  top: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  background: #fff;
  padding: 12px 25px;

}

.buttonImageV2_2 {
  width: 50px;
  height: 50px;
  position: relative;
  top: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  background: #fff;
  padding: 12px 25px;
}

.contentWrapper {
  /* max-height: 80px; */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-height: 120px;
  /* margin: 24px; */
}

.contentWrapperNo {
  max-height: auto;
}

.collIcon {
  text-align: center;
  margin: 12px auto;
  color: rgb(100, 141, 165);
  /* opacity: 0.7; */
}

.collIconRight {
  /* transform: rotate(180deg); */
  margin-left: 6px;
  position: relative;
  top: 3px;
  font-size: 25px;
}

.chuchuIcon {
  position: absolute;
  width: 320px;
  height: 450px;
  z-index: 1;
  bottom: -210px;
  left: 0;
}

.anna-search_bar-action_button {
  font-size: 38px !important;
  padding-left: 40px !important;
  position: relative;
  top: -18px;
}

.anna-search_bar-input {
  height: 84rpx !important;
  /* margin-bottom: 30px; */
  position: relative;
  top: -8px;
}

.actionButtonWrapper {
  display: flex;
  border-top: 1px solid #eee;
}

.actionButton {
  flex: 1;
  text-align: center;
  color: #666;
  font-size: 20px;
  line-height: 60px;
}

.answerWrapper .anna-card-content {
  padding: 0 !important;
}

/* .answerWrapper .contentWrapperNo {
  padding: 24px;
} */

.actionButton:not(:last-child) {
  border-right: 1px solid #eee;
}

.anna-row-align-top {
  background: #fff;
  border-top: 1px solid #eee;
}

.anna-col-8 {
  padding: 0px;
  padding-top: 5px;
  border-right: 1px solid #eee;
}

.anna-icon {
  font-size: 36px !important;
  position: relative;
  top: 5px;
}

.anna-popup-container-center, .anna-popup-container-active {
  width: 80%;
  padding: 24px;
  padding-top: 48px;
}

.anna-popup-container-center {
  top: 40% !important;
}