.question {
  margin-bottom: 10px;
  text-align: left;
  /* margin-left: 16%; */
}

:where(.css-dev-only-do-not-override-qgg3xn).ant-form-item .ant-form-item-control-input-content {
  flex: none;
  /* max-width: 100%; */
}

:where(.css-dev-only-do-not-override-qgg3xn).ant-form {
  font-size: 20px;
}

:where(.css-dev-only-do-not-override-qgg3xn).ant-form label {
  font-size: 16px;
}